:root {
  --font-family: sans-serif;
  font-size: 16px;
  --color-green: #06c167;
  --color-grey: rgb(238, 238, 238);
  --color-greyDarker: rgb(84, 84, 84);
}

* {
  box-sizing: border-box;
}

.smallText1 {
  font-size: 1rem;
  font-weight: 300;
}


.greetgriglia {
  margin-top: 11%;
  margin-bottom: 10%;

}


.imagegreet {
  img {
    width: 100px;
    size: 100px;
  }
}

.colore {
  background-color: var(--color-green);
  height: 100%;
  width: 100%;
  position: fixed;
}

.colore2 {
  background-color: #1E90FF;
  height: 100%;
  width: 100%;
  position: fixed;
}

.bold-text {

  font-size: 18px; /* Imposta la dimensione del carattere a 18px (puoi regolare questo valore a tuo piacimento) */
}


/* Style for Extra Large Screen */
@media (max-width: 3920px) {
  .btn-sq-responsive {
    width: 350px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 250px !important;
    font-size: 24px;
  }
}

/* Style for Large Screen */
@media (max-width: 991px) {
  .btn-sq-responsive {
    width: 350px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 300px !important;
    font-size: 18px;
  }
}

/* Style for Medium Screen */
@media (max-width: 767px) {
  .btn-sq-responsive {
    width: 170px !important; /* whatever width you want for medium screen */
    max-width: 100% !important;
    max-height: 100% !important;
    height: 250px !important; /* whatever height you want for medium screen */
    font-size: 12px;
  }
}

/* Style for Small Screen */
@media (max-width: 575px) {
  .btn-sq-responsive {
    width: 200px !important; /* whatever width you want for mobile screen */
    max-width: 100% !important;
    max-height: 100% !important;
    height: 250px !important; /* whatever height you want for mobile screen */
    font-size: 5px;
    padding: 0px;
    font-size: 7px;
  }
}


body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;

}


.icons1 {

  margin-right: 0.7rem;


}


html {
  height: 100%;
  width: 100%;
}

@media (max-width: 855px) {
  .optionCell {

    margin-left: 1rem;
    margin-bottom: 1rem;
    background: var(--color-grey);
    display: inline-flex;
    align-items: center;


  }
}

@media (min-width: 856px) {
  .optionCell {
    display: none !important;
    margin-left: 1rem;
    margin-bottom: 1rem;

    background: var(--color-grey);
    display: inline-flex;
    align-items: center;


  }
}

@media (max-width: 855px) {
  .searchBar2 {
    margin-top: 0.5rem;

    .searchQueryInput2 {
      width: 70%;
      height: 2.8rem;
      background: #f5f5f5;
      outline: none;
      border: none;
      border-radius: 1.625rem;
      padding: 0 3.5rem 0 1.5rem;
      font-size: 1rem;
    }
  }
}

@media (min-width: 856px) {
  .searchBar2 {
    display: none;

    .searchQueryInput2 {
      display: none;
      width: 100%;
      height: 2.8rem;
      background: #f5f5f5;
      outline: none;
      border: none;
      border-radius: 1.625rem;
      padding: 0 3.5rem 0 1.5rem;
      font-size: 1rem;
    }
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(0, 199, 17);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.487);
}


.container1 {
  width: calc(100% - 50px);
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;

}

.container2 {
  width: calc(100% - 120px);
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.form {
  margin-top: 2rem;
}

.scrolldown {
  margin-top: 1rem;
  margin-left: 47.5%;

  .arrow1 {
    background: red;
    align-items: center;
    justify-content: center;
    background: var(--color-grey);
    opacity: 0.3;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &.darker1,
    &:hover {
      opacity: 1;
    }
  }

  .circle1 {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    display: inline-flex;
  }
}

@media (max-width: 855px) {
  header {
    border-bottom: 1px solid #ddd;
    width: 100%;

    .logo1 {

      margin-left: auto;
      margin-right: auto;
      align-items: center;
      text-align: center;

      h1 {

        margin-left: auto;
        margin-right: auto;
        align-items: center;
        text-align: center;

        cursor: pointer;
        font-weight: 300;

        span {

          font-weight: 600;
          color: var(--color-green);
        }
      }
    }


    .searchBar1 {
      margin-left: auto;
    }

    .searchQueryInput {
      width: 100%;
      height: 2.8rem;
      background: #f5f5f5;
      outline: none;
      border: none;
      border-radius: 1.625rem;
      padding: 0 3.5rem 0 1.5rem;
      font-size: 1rem;
    }

    .searchQuerySubmit {
      width: 3.5rem;
      height: 2.8rem;
      margin-left: -3.5rem;
      background: none;
      border: none;
      outline: none;
    }


    .header-option1 {
      padding-left: 5rem;
      letter-spacing: 0.6px;
      display: flex;
      align-items: center;

      svg {
        margin-right: 1rem;
        display: inline-flex;
      }

      display:  none !important;
    }

    .header-option2 {
      padding-left: 5rem;
      letter-spacing: 0.6px;
      display: flex;
      align-items: center;
      color: #034694;

      svg {
        margin-right: 1rem;
        display: inline-flex;
      }
    }

    .currentDetails1,
    .searchBar1 {
      cursor: pointer;
      display: flex;
    }

  }
}

@media (min-width: 856px) {
  header {
    width: 100%;
    border-bottom: 1px solid #ddd;

    .logo1 {
      h1 {
        cursor: pointer;
        font-weight: 300;

        span {
          font-weight: 600;
          color: var(--color-green);
        }
      }

    }



    .container1 {
      display: flex;
      align-items: center;
    }

    .searchBar1 {
      margin-left: auto;
    }

    .searchQueryInput {
      width: 100%;
      height: 2.8rem;
      background: #f5f5f5;
      outline: none;
      border: none;
      border-radius: 1.625rem;
      padding: 0 3.5rem 0 1.5rem;
      font-size: 1rem;
    }

    .searchQuerySubmit {
      width: 3.5rem;
      height: 2.8rem;
      margin-left: -3.5rem;
      background: none;
      border: none;
      outline: none;
    }

    .header-option1 {
      padding-left: 5rem;
      letter-spacing: 0.6px;
      display: flex;
      align-items: center;

      svg {
        margin-right: 1rem;
        display: inline-flex;
      }
    }

    .header-clerk {
      display: flex;
      justify-content: flex-end;

    }

    .header-option2 {
      padding-left: 5rem;
      letter-spacing: 0.6px;
      display: flex;
      align-items: center;
      color: #034694;

      svg {
        margin-right: 1rem;
        display: inline-flex;
      }
    }

    .currentDetails1,
    .searchBar1 {
      cursor: pointer;
      display: flex;
    }
  }
}

@media (max-width: 501px) {
  .options1 {
    padding: 1.2rem 0;

    .options-btn1 {
      background: var(--color-grey);
      padding: 0.6rem 0.8rem;
      border-radius: 30px;
      border: 0;
      font-family: var(--font-family);
      font-size: 0.5rem;
      letter-spacing: 0.5px;
      display: inline-flex;
      align-items: center;
      margin-right: 0.3rem;
      margin-left: 0.3rem;
      margin-bottom: 0.4rem;

      svg {
        max-width: 20px;
        margin-right: auto;
      }

      &.selected1 {
        background: black;
        color: white;
      }

      &.prenota1 {
        margin-bottom: 1.0rem;
        background: #06c167;
        color: white;
      }
    }
  }
}

@media (min-width: 501px) {
  .options1 {
    padding: 1.2rem 0;

    .options-btn1 {
      background: var(--color-grey);
      padding: 0.6rem 0.8rem;
      border-radius: 30px;
      border: 0;
      font-family: var(--font-family);
      font-size: 1rem;
      letter-spacing: 0.6px;
      display: inline-flex;
      align-items: center;
      margin-right: 0.3rem;
      margin-left: 0.3rem;

      svg {
        max-width: 20px;
        margin-right: auto;
      }

      &.selected1 {
        background: black;
        color: white;
      }

      &.prenota1 {
        margin-bottom: 1.0rem;
        background: #06c167;
        color: white;
      }
    }
  }
}

.options2 {
  padding: 1.2rem 0;

  .options-btn2 {
    background: #E1EBEE;
    padding: 0.6rem 0.8rem;
    border-radius: 30px;
    border: 0;
    font-family: var(--font-family);
    font-size: 1rem;
    letter-spacing: 0.6px;
    display: inline-flex;
    align-items: center;
    margin-right: 0.3rem;
    margin-left: 0.3rem;

    svg {
      max-width: 20px;
      margin-right: auto;
    }

    &.selected2 {
      background: #034694;
      color: white;
    }

    &.prenota2 {
      margin-bottom: 1.0rem;
      background: #06c167;
      color: white;
    }
  }
}

.listings1 {

  width: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  .header1 {

    @media (max-width: 501px) {
      .header-title1 {
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        text-align: center;

        h2 {
          display: none !important;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          font-weight: 400;
          font-size: 1.7rem;
          margin-bottom: 0.5rem;
          margin-top: 0;
        }

        span {
          display: none;
          color: var(--color-greyDarker);
          font-weight: 300;
          font-size: 0.9rem;
        }
      }
    }

    .header-viewOptions1 {
      display: flex;
      align-items: center;
      margin: auto 0 auto auto;
      @media (max-width: 795px) {
        .viewAll1 {
          color: var(--color-green);
          margin-right: auto;
          display: none;
        }
      }

      .viewAll2 {
        color: #034694;
        padding-right: 0rem;
      }

      .viewMore1 {
        .arrow1 {
          background: red;
          align-items: center;
          justify-content: center;
          background: var(--color-grey);
          opacity: 0.3;
          transition: all 0.2s ease-in-out;
          cursor: pointer;

          &.darker1,
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .circle1 {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    display: inline-flex;
  }

  .listings-grid1 {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;


    &::-webkit-scrollbar {
      display: none;
    }

    .listings-col1 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 100%;
      scroll-snap-align: start;
      margin-left: 25px;
    }

    @media (min-width: 501px) {
      .listings-grid-element1 {
        width: calc(1 / 3 * 100% - (1 - 1 / 3) * 25px);
        margin-top: 2rem;

        .image1 {
          height: 240px;
          overflow: hidden;
          //border-radius: 5%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        /*.image1:hover {
         opacity:0.9;
        }*/


        .text-lower1 {
          padding: 0.6rem 0;

          span {
            color: var(--color-greyDarker);
          }
        }

        .text1 {
          display: flex;
          align-items: center;
          border-bottom: 1px solid #ddd;
          padding: 1rem 0;

          h3 {
            font-weight: 400;
            margin-bottom: 0.3rem;
            margin-top: 0;

            &.blue {
              color: blue
            }

            &.red {
              color: red
            }

            &.green {
              color: var(--color-green)
            }

            &.reviews {
              &:hover {
                opacity: 0.7;
                color: var(--color-green);
              }
            }

          }

          h6 {
            cursor: pointer;
          }

          span {
            font-size: 0.8rem;
            font-weight: 300;
          }

          .rating1 {
            margin: auto 0 auto auto;
            height: 100%;

            span {
              height: 40px;
              width: 40px;
              background: #4FFFB0;
              font-size: 1rem;
              color: black;
            }
          }

          .rating2 {
            margin: auto 0 auto auto;
            height: 100%;

            span {
              height: 40px;
              width: 40px;
              background: #87CEFA;
              font-size: 1rem;
              color: black;
            }
          }
        }
      }
    }


    @media screen and (max-device-width: 500px) {
      .header1, .content, .footer {
        display: block;
        position: relative;
        /*for absolute positioning or to get them behind
                                    pop-ups with z-index
                                    this also prevents absolute-position elements being outside
                                    the parent element from stretching the view*/
        width: 100%;
        overflow: hidden;
      }
    }

    @media (max-width: 500px) {
      .listings-grid-element1 {
        width: calc(1 / 1 * 100% - (1 - 1 / 3) * 25px);
        margin-top: 2rem;

        .image1 {
          height: 240px;
          overflow: hidden;
          //border-radius: 5%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }


        /*.image1:hover {
         opacity:0.9;
        }*/


        .text-lower1 {
          padding: 0.6rem 0;

          span {
            color: var(--color-greyDarker);
          }
        }

        .text1 {
          display: flex;
          align-items: center;
          border-bottom: 1px solid #ddd;
          padding: 1rem 0;

          h3 {
            font-weight: 400;
            margin-bottom: 0.3rem;
            margin-top: 0;

            &.blue {
              color: blue
            }

            &.red {
              color: red
            }

            &.green {
              color: var(--color-green)
            }

            &.reviews {
              &:hover {
                opacity: 0.7;
                color: var(--color-green);
              }
            }

          }

          h6 {
            cursor: pointer;
          }

          span {
            font-size: 0.8rem;
            font-weight: 300;
          }

          .rating1 {
            margin: auto 0 auto auto;
            height: 100%;

            span {
              height: 40px;
              width: 40px;
              background: #4FFFB0;
              font-size: 1rem;
              color: black;
            }
          }

          .rating2 {
            margin: auto 0 auto auto;
            height: 100%;

            span {
              height: 40px;
              width: 40px;
              background: #87CEFA;
              font-size: 1rem;
              color: black;
            }
          }
        }


      }
    }


    @media (min-width: 855px) {
      .listings-grid-element1 {
        width: calc(1 / 3 * 100% - (1 - 1 / 3) * 25px);
        margin-top: 2rem;

        .image1 {
          height: 240px;
          overflow: hidden;
          //border-radius: 5%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }



        /*.image1:hover {
         opacity:0.9;
        }*/


        .text-lower1 {
          padding: 0.6rem 0;

          span {
            color: var(--color-greyDarker);
          }
        }

        .text1 {
          display: flex;
          align-items: center;
          border-bottom: 1px solid #ddd;
          padding: 1rem 0;

          h3 {
            font-weight: 400;
            margin-bottom: 0.3rem;
            margin-top: 0;

            &.blue {
              color: blue
            }

            &.red {
              color: red
            }

            &.green {
              color: var(--color-green)
            }

            &.reviews {
              &:hover {
                opacity: 0.7;
                color: var(--color-green);
              }
            }

          }

          h6 {
            cursor: pointer;
          }

          span {
            font-size: 0.8rem;
            font-weight: 300;
          }

          .rating1 {
            margin: auto 0 auto auto;
            height: 100%;

            span {
              height: 40px;
              width: 40px;
              background: #4FFFB0;
              font-size: 1rem;
              color: black;
            }
          }

          .rating2 {
            margin: auto 0 auto auto;
            height: 100%;

            span {
              height: 40px;
              width: 40px;
              background: #87CEFA;
              font-size: 1rem;
              color: black;
            }
          }
        }


      }
    }


    @media (min-width: 501px) and (max-width: 855px) {
      .listings-grid-element1 {
        width: calc(1 / 2 * 100% - (1 - 1 / 3) * 25px);
        margin-top: 2rem;

        .image1 {
          height: 240px;
          overflow: hidden;
          //border-radius: 5%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        /*.image1:hover {
         opacity:0.9;
        }*/


        .text-lower1 {
          padding: 0.6rem 0;

          span {
            color: var(--color-greyDarker);
          }
        }

        .text1 {
          display: flex;
          align-items: center;
          border-bottom: 1px solid #ddd;
          padding: 1rem 0;

          h3 {
            font-weight: 400;
            margin-bottom: 0.3rem;
            margin-top: 0;

            &.blue {
              color: blue
            }

            &.red {
              color: red
            }

            &.green {
              color: var(--color-green)
            }

            &.reviews {
              &:hover {
                opacity: 0.7;
                color: var(--color-green);
              }
            }

          }

          h6 {
            cursor: pointer;
          }

          span {
            font-size: 0.8rem;
            font-weight: 300;
          }

          .rating1 {
            margin: auto 0 auto auto;
            height: 100%;

            span {
              height: 40px;
              width: 40px;
              background: #4FFFB0;
              font-size: 1rem;
              color: black;
            }
          }

          .rating2 {
            margin: auto 0 auto auto;
            height: 100%;

            span {
              height: 40px;
              width: 40px;
              background: #87CEFA;
              font-size: 1rem;
              color: black;
            }
          }
        }


      }
    }


    .listings-grid-element3 {
      width: calc(1 / 3 * 100% - (1 - 1 / 3) * 25px);
      margin-top: 2rem;
      border: 1px solid;

      border-color: var(--color-grey);
      border-radius: 8px;

      .image1 {
        height: 240px;
        overflow: hidden;
        border-radius: 5%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .text-lower1 {
        padding: 0.6rem 0;

        span {
          color: var(--color-greyDarker);
        }
      }

      .text1 {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding: 1rem 0;

        h3 {
          font-weight: 400;
          margin-bottom: 0.3rem;
          margin-top: 0;
        }

        span {
          font-size: 0.8rem;
          font-weight: 300;
        }

        .rating1 {
          margin: auto 0 auto auto;
          height: 100%;

          span {
            height: 40px;
            width: 40px;
            background: #FFA500;
            font-size: 1rem;
            color: black;
          }
        }
      }
    }

    @media (max-width: 855px) {
      .listings-grid-element2 {
        width: calc(100%);
        margin-top: 1rem;
        border: 2.5px solid;
        height: 40%;


        border-color: var(--color-grey);
        border-radius: 8px;

        .image2 {
          height: 240px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .image3 {
          height: 220px;
          overflow: hidden;
          margin-right: 0rem;
          opacity: 0.9;

          img {
            width: 100%;
            height: 90%;
            object-fit: cover;
          }
        }


        .text-lower2 {
          padding: 0.6rem 0;
          margin-left: auto;
          margin-right: auto;
          width: 50%;

          span {
            color: var(--color-greyDarker);
          }
        }

        .text2 {
          display: flex;
          align-items: center;
          margin-left: 1rem;
          margin-right: auto;
          width: 90%;
          border-bottom: 1px solid #ddd;
          padding: 1rem 0;

          h3 {
            font-weight: 400;
            margin-bottom: 0.3rem;
            margin-top: 0;
          }

          span {
            font-size: 0.8rem;
            font-weight: 300;

          }

          .rating2 {
            margin: auto 0 auto auto;
            height: 100%;

            span {
              text-align: center;
              height: 40px;
              width: 40px;
              background: #FFFACD;
              font-size: 1rem;
              color: black;
            }
          }
        }
      }
    }


    @media (min-width: 856px) {
      .listings-grid-element2 {
        width: calc(40%);
        margin-top: 1rem;
        border: 2.5px solid;


        border-color: var(--color-grey);
        border-radius: 8px;

        .image2 {
          height: 240px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .image3 {
          height: 220px;
          overflow: hidden;
          margin-right: 0rem;
          opacity: 0.9;

          img {
            width: 100%;
            height: 90%;
            object-fit: cover;
          }
        }


        .text-lower2 {
          padding: 0.6rem 0;
          margin-left: auto;
          margin-right: auto;
          width: 50%;

          span {
            color: var(--color-greyDarker);
          }
        }

        .text2 {
          display: flex;
          align-items: center;
          margin-left: 1rem;
          margin-right: auto;
          width: 90%;
          border-bottom: 1px solid #ddd;
          padding: 1rem 0;

          h3 {
            font-weight: 400;
            margin-bottom: 0.3rem;
            margin-top: 0;
          }

          span {
            font-size: 0.8rem;
            font-weight: 300;

          }

          .rating2 {
            margin: auto 0 auto auto;
            height: 100%;

            span {
              height: 40px;
              width: 40px;
              background: #FFFACD;
              font-size: 1rem;
              color: black;
            }
          }
        }
      }
    }


    .element4 {
      margin-right: 4rem;

    }



    .form-control {

      height: 100px;
      width: 150%;
      margin-left: 8px;
    }

    .labelp {
      margin-top: 10px;
      font-size: 24px;
      margin-left: 10px;
    }


    @media (max-width: 855px) {
      .listings-grid-element4 {
        width: calc(100%);
        margin-top: 1rem;

        border: 2.5px solid;


        border-color: var(--color-grey);
        border-radius: 8px;

        .image2 {
          height: 240px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .image3 {
          height: 220px;
          overflow: hidden;
          margin-right: 0rem;
          opacity: 0.8;

          img {
            width: 100%;
            height: 90%;
            object-fit: cover;
          }
        }


        .text-lower2 {
          padding: 0.6rem 0;
          margin-left: auto;
          margin-right: auto;
          width: 50%;

          span {
            color: var(--color-greyDarker);
          }
        }

        .text2 {
          display: flex;
          align-items: center;
          margin-left: 1rem;
          margin-right: auto;
          width: 90%;
          border-bottom: 1px solid #ddd;
          padding: 1rem 0;

          h3 {
            font-weight: 400;
            margin-bottom: 0.3rem;
            margin-top: 0;
          }

          span {
            font-size: 0.8rem;
            font-weight: 300;

          }

          .rating2 {
            margin: auto 0 auto auto;
            height: 100%;

            span {
              height: 40px;
              width: 40px;
              background: #4FFFB0;
              font-size: 1rem;
              color: black;
            }
          }
        }
      }
    }


    @media (min-width: 856px) {
      .listings-grid-element4 {
        width: calc(59.5%);
        margin-top: 1rem;

        border: 2.5px solid;


        border-color: var(--color-grey);
        border-radius: 8px;

        .image2 {
          height: 240px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .image3 {
          height: 220px;
          overflow: hidden;
          margin-right: 0rem;
          opacity: 0.8;

          img {
            width: 100%;
            height: 90%;
            object-fit: cover;
          }
        }


        .text-lower2 {
          padding: 0.6rem 0;
          margin-left: auto;
          margin-right: auto;
          width: 50%;

          span {
            color: var(--color-greyDarker);
          }
        }

        .text2 {
          display: flex;
          align-items: center;
          margin-left: 1rem;
          margin-right: auto;
          width: 90%;
          border-bottom: 1px solid #ddd;
          padding: 1rem 0;

          h3 {
            font-weight: 400;
            margin-bottom: 0.3rem;
            margin-top: 0;
          }

          span {
            font-size: 0.8rem;
            font-weight: 300;

          }

          .rating2 {
            margin: auto 0 auto auto;
            height: 100%;

            span {
              height: 40px;
              width: 40px;
              background: #4FFFB0;
              font-size: 1rem;
              color: black;
            }
          }
        }
      }
    }


    .listings-grid-element5 {
      width: calc(1 / 3 * 100% - (1 - 1 / 3) * 25px);
      margin-top: 2rem;

      .image1 {
        height: 240px;
        overflow: hidden;
        //border-radius: 5%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      /* .image1:hover {
        opacity:0.9;
       }*/


      .text-lower1 {
        padding: 0.6rem 0;

        span {
          color: var(--color-greyDarker);
        }
      }

      .text1 {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding: 1rem 0;

        h3 {
          font-weight: 400;
          margin-bottom: 0.3rem;
          margin-top: 0;

          &.blue {
            color: blue
          }

          &.red {
            color: red
          }

          &.green {
            color: var(--color-green)
          }

          &.reviews {
            &:hover {
              opacity: 0.7;
              color: var(--color-green);
            }
          }

        }

        h6 {
          cursor: pointer;
        }

        span {
          font-size: 0.8rem;
          font-weight: 300;
        }

        .rating1 {
          margin: auto 0 auto auto;
          height: 100%;

          span {
            height: 40px;
            width: 40px;
            background: #4FFFB0;
            font-size: 1rem;
            color: black;
          }

        }

        .rating2 {
          margin: auto 0 auto auto;
          height: 100%;

          span {
            height: 40px;
            width: 40px;
            background: #B9D9EB;
            font-size: 1rem;
            color: black;
          }
        }


      }


    }

  }
}
