:root {
  --font-family: sans-serif;
  font-size: 16px;
  --color-green: #06c167;
  --color-grey: rgb(238, 238, 238);
  --color-greyDarker: rgb(84, 84, 84);
}

* {
  box-sizing: border-box;
}

.smallText1 {
  font-size: 0.7rem;
  font-weight: 300;
}


body {
  margin: 0;
  font-family: sans-serif;
}


.container1 {
  width: calc(100% - 120px);
  margin: auto;
}

header {
  border-bottom: 1px solid #ddd;
  .logo1 {
    h1 {
      cursor: pointer;
      font-weight: 300;
      span {
        font-weight: 600;
        color: var(--color-green);
      }
    }
  }
  .container1 {
    display: flex;
    align-items: center;
  }
  .searchBar1 {
    margin-left: auto;
  }
  
  .searchQueryInput {
    width: 100%;
    height: 2.8rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
  }

  .searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
  }
  
  .header-option1 {
    padding-left: 5rem;
    letter-spacing: 0.6px;
    display: flex;
    align-items: center;
    svg {
      margin-right: 1rem;
      display: inline-flex;
    }
  }

  .currentDetails1,
  .searchBar1 {
    cursor: pointer;
    display: flex;
  }
}

.options1 {
  padding: 1.2rem 0;
  .options-btn1 {
    background: var(--color-grey);
    padding: 0.6rem 0.8rem;
    border-radius: 30px;
    border: 0;
    font-family: var(--font-family);
    font-size: 1rem;
    letter-spacing: 0.6px;
    display: inline-flex;
    align-items: center;
    margin-right: 0.3rem;
    svg {
      max-width: 20px;
      margin-right: 0.4rem;
    }
    &.selected1 {
      background: grey;
      color: white;
    }
    &.prenota1 {
      margin-bottom: 1.0rem;
      background: #06c167;
      color: white;
    }
  }
}

.listings1 {
  padding: 2rem 0;
  .header1 {
    display: flex;
    align-items: center;
    .header-title1 {
      h2 {
        font-weight: 400;
        font-size: 1.7rem;
        margin-bottom: 0.5rem;
        margin-top: 0;
      }
      span {
        color: var(--color-greyDarker);
        font-weight: 300;
        font-size: 0.9rem;
      }
    }
    .header-viewOptions1 {
      display: flex;
      align-items: center;
      margin: auto 0 auto auto;
      .viewAll1 {
        color: var(--color-green);
        padding-right: 2rem;
      }
      .viewMore1 {
        .arrow1 {
          background: red;
          align-items: center;
          justify-content: center;
          background: var(--color-grey);
          opacity: 0.3;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          &.darker1,
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  .circle1 {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    display: inline-flex;
  }
  .listings-grid1 {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    .listings-col1 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 100%;
      scroll-snap-align: start;
      margin-left: 25px;
    }

    .listings-grid-element1 {
      width: calc(1 / 3 * 100% - (1 - 1 / 3) * 25px);
      margin-top: 2rem;

      .image1 {
        height: 240px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .text-lower1 {
        padding: 0.6rem 0;
        span {
          color: var(--color-greyDarker);
        }
      }
      .text1 {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding: 1rem 0;
        h3 {
          font-weight: 400;
          margin-bottom: 0.3rem;
          margin-top: 0;
        }
        span {
          font-size: 0.8rem;
          font-weight: 300;
        }
        .rating1 {
          margin: auto 0 auto auto;
          height: 100%;

          span {
            height: 40px;
            width: 40px;
            background: #FFFACD;
            font-size: 1rem;
            color: black;
          }
        }
      }
    }

    .listings-grid-element2 {
      width: calc(100% - (1) * 25px);
      margin-top: 2rem;
      border-style: solid;
  border-color: var(--color-green);

      .image2 {
        height: 240px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .text-lower2 {
        padding: 0.6rem 0;
        margin-left:auto;
        margin-right:auto;
        width: 50%;
        span {
          color: var(--color-greyDarker);
        }
      }
      .text2 {
        display: flex;
        align-items: center;
        margin-left:auto;
        margin-right:auto;
        width: 50%;
        border-bottom: 1px solid #ddd;
        padding: 1rem 0;
        h3 {
          font-weight: 400;
          margin-bottom: 0.3rem;
          margin-top: 0;
        }
        span {
          font-size: 0.8rem;
          font-weight: 300;

        }
        .rating2 {
          margin: auto 0 auto auto;
          height: 100%;
    
          span {
            height: 40px;
            width: 40px;
            background: #FFFACD;
            font-size: 1rem;
            color: black;
          }
        }
      }
    }
  }
}
